aside {
    width: 15em;
}

@media screen and (max-width: 768px) {

    aside {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 5rem;
    }

    .sidebar-hidden {
        display: none;
    }
}