.song-cards-container {
    overflow-x: auto;
    scrollbar-width: none;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.song-card-container {
    flex: 0 0 20%;
}

@media screen and (max-width: 992px) {
    .song-card-container {
        flex: 0 0 25%;
    }
}

@media screen and (max-width: 768px) {
    .song-card-container {
        flex: 0 0 33.3%;
    }
}



.hero-banner-container {
    overflow-x: auto;
    scrollbar-width: none;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.hero-banner-card-container {
    flex: 0 0 50%;
}

@media screen and (max-width: 992px) {
    .hero-banner-card-container {
        flex: 0 0 75%;
    }
}


.more-to-explore-card {
    border-radius: 10px;
    background: #2A2A2A;
    color: #8E1220;
}

.more-to-explore-card h5 {
    color: #8E1220;
}